<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Montserrat" rel="stylesheet">
    <title>My Travelling blog</title>
</head>

<body>
    <div class="container">
        <nav class="nav">
            <ul class="nav__container">
                <li class="nav__item">
                    <a href="/" class="nav__link">Travel updates</a>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link">Reviews</a>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="/" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="add__container">
            <button type="button" class="button" (click)="showModal = true">+ Add Article </button>

        </div>
        <main>
            <app-article *ngFor="let article of articleList" [article]="article"
                (editArticlesEvent)="editArticles($event)" (getArticlesEvent)="getArticles()"
                (onEditClick)="showModal=!this.showModal">

            </app-article>
        </main>
        <footer class="footer">
            <button class="footer__link">previous</button>
            <button class="footer__link footer__link--next">next</button>
        </footer>
    </div>

    <app-modal *ngIf="showModal" [selectedArticle]="selectedArticle" (onCancel)="afterDone()"
        (onSaveEditing)="afterDone()" (onSaveAdding)="afterDone()"></app-modal>